<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HW Novel</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

<script>
        function search() {

        }

        function navbarHighlight() {
            var menu1 = window.location.pathname.split('/')[1];
            var html = "";
            var pageName = "@ViewBag.topmenu";

            if (menu1 == "Home") {
                $(".m1").addClass("on");
            } else if (menu1 == "Serial") {
                $(".m2").addClass("on sub");

                html += "<ul class='snb'>"
                html += "    <li class='" + (pageName == "Day" ? "on" : "") + "'><a href='/Serial/Day' class='sub_link'><span class='sub_txt'>요일별</span></a></li>";
                html += "    <li class='" + (pageName == "New" ? "on" : "") + "'><a href='/Serial/New' class='sub_link'><span class='sub_txt'>이 달의 신작</span></a></li>";
                html += "    <li class='" + (pageName == "Rom" ? "on" : "") + "'><a href='/Serial/Gen?genre=1' class='sub_link'><span class='sub_txt'>로맨스</span></a></li>";
                html += "    <li class='" + (pageName == "Rof" ? "on" : "") + "'><a href='/Serial/Gen?genre=2' class='sub_link'><span class='sub_txt'>로판</span></a></li>";
                html += "    <li class='" + (pageName == "Fan" ? "on" : "") + "'><a href='/Serial/Gen?genre=3' class='sub_link'><span class='sub_txt'>판타지</span></a></li>";
                html += "    <li class='" + (pageName == "Hro" ? "on" : "") + "'><a href='/Serial/Gen?genre=4' class='sub_link'><span class='sub_txt'>무협</span></a></li>";
                html += "    <li class='" + (pageName == "Mys" ? "on" : "") + "'><a href='/Serial/Gen?genre=5' class='sub_link'><span class='sub_txt'>미스터리</span></a></li>";
                html += "    <li class='" + (pageName == "Fin" ? "on" : "") + "'><a href='/Serial/Fin' class='sub_link'><span class='sub_txt'>완결</span></a></li>";
                html += "</ul>";

                $(".m2").append(html);
            } else if (menu1 == "Challenge") {
                $(".m3").addClass("on sub");

                html += "<ul class='snb'>"
                html += "    <li class='" + (pageName == "Rom" ? "on" : "") + "'><a href='/Challenge/Gen?genre=1' class='sub_link'><span class='sub_txt'>로맨스</span></a></li>";
                html += "    <li class='" + (pageName == "Rof" ? "on" : "") + "'><a href='/Challenge/Gen?genre=2' class='sub_link'><span class='sub_txt'>로판</span></a></li>";
                html += "    <li class='" + (pageName == "Fan" ? "on" : "") + "'><a href='/Challenge/Gen?genre=3' class='sub_link'><span class='sub_txt'>판타지</span></a></li>";
                html += "    <li class='" + (pageName == "Hro" ? "on" : "") + "'><a href='/Challenge/Gen?genre=4' class='sub_link'><span class='sub_txt'>무협</span></a></li>";
                html += "    <li class='" + (pageName == "Mys" ? "on" : "") + "'><a href='/Challenge/Gen?genre=5' class='sub_link'><span class='sub_txt'>미스터리</span></a></li>";
                html += "</ul>";

                $(".m3").append(html);
            } else if (menu1 == "Mypage") {
                $(".m4").addClass("on sub");

                html += "<ul class='snb'>"
                html += "    <li class='" + (pageName == "Rec" ? "on" : "") + "'><a href='/Mypage/Rec' class='sub_link'><span class='sub_txt'>최근 본 작품</span></a></li>";
                html += "    <li class='" + (pageName == "Wis" ? "on" : "") + "'><a href='/Mypage/Wis' class='sub_link'><span class='sub_txt'>관심작품</span></a></li>";
                html += "    <li class='" + (pageName == "Cha" ? "on" : "") + "'><a href='/Mypage/Cha' class='sub_link'><span class='sub_txt'>도전 웹소설</span></a></li>";
                html += "    <li class='" + (pageName == "Min" ? "on" : "") + "'><a href='/Mypage/Min' class='sub_link'><span class='sub_txt'>내 정보</span></a></li>";
                html += "</ul>";

                $(".m4").append(html);
            }
        }
</script>
</head>
<body onload="navbarHighlight();">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm">
        <div class="container">
            <a href="/Home/Main" class="logo"></a>
            <div class="d-flex" role="search">
                <input class="form-control me-2" type="text" placeholder="작품명 또는 작가명을 입력해주세요." style="font-size:14px; width:280px;">
                <button class="btn btn-outline-dark" type="button" onclick="search();">검색</button>&nbsp;
                <a href="/User/Login" class="btn btn-outline-dark">로그인</a>
            </div>
        </div>
    </nav>
    <div class="menu_area container" id="lnb_height">
        <ul id="lnb" class="lnb">
            <li class="m1">
                <a href="/Home/Main" class="lnb_link">
                    <span class="lnb_txt">홈</span>
                </a>
            </li>
            <li class="m2 ">
                <a href="/Serial/Day" class="lnb_link">
                    <span class="lnb_txt">연재 웹소설</span>
                </a>
            </li>
            <li class="m3 ">
                <a href="/Challenge/Gen?genre=1" class="lnb_link">
                    <span class="lnb_txt">도전 웹소설</span>
                </a>
            </li>
            <li class="m4 ">
                <a href="/Mypage/Rec" class="lnb_link">
                    <span class="lnb_txt">마이페이지</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
