@{
    List<string> userinfo = ViewBag.userinfo == null ? new List<string>(new string[] { "0", "0", "0", "0" }) : ViewBag.userinfo;

    string searchDay = ViewBag.searchDay ?? "7";
    string searchOrder = ViewBag.searchOrder ?? "view";
    string searchGenre = ViewBag.searchGenre ?? "all";
    int pageNum = ViewBag.searchPage ?? 1;
    int totalCount = ViewBag.TotalCount ?? 0;
    int listCount = ViewBag.ListCount ?? 1;
    int startPageNum = ViewBag.StartPageNum ?? 1;
    int endPageNum = ViewBag.EndPageNum ?? 1;

    int pageCount = totalCount % listCount > 0 ? totalCount / listCount + 1 : totalCount / listCount;
    endPageNum = endPageNum > pageCount ? pageCount : endPageNum;

}
<main>
    <script type="text/JavaScript">
        function pagingPrev(page) {
            if (page - 1 > 0) {
                $("#searchPage").val((page - 1));
                $("#NovelDaySearch").submit();
            }
        }

        function paging(page) {
            $("#searchPage").val((page));
            $("#NovelDaySearch").submit();
        }

        function pagingNext(page) {
            if (page + 10 > @endPageNum) {
                $("#searchPage").val((page + 10));
                $("#NovelDaySearch").submit();
            }
        }
    </script>
    <div class="component_section">
        <div class="component_head novel_head">
            <form id="NovelDaySearch" name="NovelDaySearch" method="GET" action="/Serial/Day">
                <div class="right_area">
                    <div class="select_group">
                        <select class="novel_select form-select" name="searchGenre" id="searchGenre" asp-for="searchGenre">
                            <option value="all" @(searchGenre == "all" ? "selected" : "")>전체</option>
                            @foreach (var genre in ViewBag.GenreList)
                            {
                                <option value="@genre.CODENO" @(searchGenre == genre.CODENO ? "selected" : "")>@genre.CODENAME</option>
                            }
                        </select>
                    </div>
                    <div class="select_group">
                        <select class="novel_select form-select" name="searchOrder" id="searchOrder" asp-for="searchOrder">
                            <option value="view" @(searchOrder == "view" ? "selected" : "")>조회수</option>
                            <option value="star" @(searchOrder == "star" ? "selected" : "")>별점</option>
                            <option value="title" @(searchOrder == "title" ? "selected" : "")>제목</option>
                            <option value="favorite" @(searchOrder == "favorite" ? "selected" : "")>관심등록</option>
                        </select>
                        <input type="hidden" name="searchPage" id="searchPage" value="@pageNum" />
                    </div>
                </div>
                <div class="select_group">
                    <select class="novel_select form-select" name="searchDay" id="searchDay" asp-for="searchDay">
                        <option value="7" @(searchDay == "7" ? "selected" : "")>전체</option>
                        <option value="1" @(searchDay == "1" ? "selected" : "")>월요일</option>
                        <option value="2" @(searchDay == "2" ? "selected" : "")>화요일</option>
                        <option value="3" @(searchDay == "3" ? "selected" : "")>수요일</option>
                        <option value="4" @(searchDay == "4" ? "selected" : "")>목요일</option>
                        <option value="5" @(searchDay == "5" ? "selected" : "")>금요일</option>
                        <option value="6" @(searchDay == "6" ? "selected" : "")>토요일</option>
                        <option value="0" @(searchDay == "0" ? "selected" : "")>일요일</option>
                    </select>
                </div>
            </form>
        </div>
        <ul class="card_list type1">
            @foreach (var item in ViewBag.NovelList)
            {
                <li class="item">
                    <a href="/Serial/NovelInfo?novelid=@item.Novelid" class="link">
                        <div class="thumbnail">
                            @if (item.Endyn == "2")
                            {
                                <span class="bullet_comp_ex">완결</span>
                            }
                            <img src="data:image/webp;base64, @item.ThumbnailBase64" width="299" height="192">
                        </div>
                        <div class="info_area">
                            <p class="title_group">
                                <span class="bullet_wrap">
                                    @if (item.Opendt == ViewBag.NowDate)
                                    {
                                        <span class="bullet_up">UP</span>
                                    }
                                </span>
                                <span class="title" name="novelTitle">@item.Noveltitle</span>
                            </p>
                            <p class="info_group">
                                <span class="author" name="novelWriter">@item.Writer</span>
                                <span class="count">총<span>@(item.Volumecnt)회</span></span>
                            </p>
                            <p class="meta_data_group">
                                <span class="score_area"><span class="ico_star">별점</span>@item.StarPointAvg.ToString("0.0#")</span>
                                <span class="count">관심<span>@item.Favoritecnt</span></span>
                            </p>
                        </div>
                    </a>
                </li>
            }
        </ul>
        <div class="notice_paging">
            <ul class="paging">
                @if (startPageNum == 1)
                {
                    <li class="page_arrow prev page-item">
                        <span class="blind">이전 페이지로 이동</span>
                    </li>
                }
                else
                {
                    <li class="page_arrow prev page-item">
                        <a class="page-link" role="button" href="javascript:pagingPrev(@startPageNum)">
                            <span class="blind">이전 페이지로 이동</span>
                        </a>
                    </li>
                }
                @for (int i = startPageNum; i <= endPageNum; i++)
                {
                    if (i == pageNum)
                    {
                        <li class="page-item active">
                            <span class="page-link">
                                @i
                                <span class="blind">(current)</span>
                            </span>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" role="button" href="javascript:paging(@i)">@i</a>
                        </li>
                    }
                }
                @if (endPageNum == pageCount)
                {
                    <li class="page_arrow next page-item">
                        <span class="blind">다음 페이지로 이동</span>
                    </li>
                }
                else
                {
                    <li class="page_arrow next page-item">
                        <a class="page-link" role="button" href="javascript:pagingNext(@startPageNum)">
                            <span class="blind">다음 페이지로 이동</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</main>
@section scripts{
    <script type="text/JavaScript">
        $(function () { });

        $("#searchOrder").change(function () {
            $("#NovelDaySearch").submit();
        });

        $("#searchGenre").change(function () {
            $("#NovelDaySearch").submit();
        });

        $("#searchDay").change(function () {
            $("#NovelDaySearch").submit();
        });
    </script>
}