@{
    List<string> userinfo = ViewBag.userinfo == null ? new List<string>(new string[] { "0", "0", "0", "0" }) : ViewBag.userinfo;
}
<main>
    <div id="content">
        <div class="section_area_viewer">
            <div class="viewer_header" id="menuFloatingLayer">
                <span class="blind">작품명: </span>
                <a href="/Serial/NovelInfo?novelId=@ViewBag.novelid" class="tit_book">@ViewBag.Novel.Noveltitle</a>
                <div class="select_area">
                    <div class="select_label">
                        <span class="blind">현재회차:</span>
                        <a role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            @ViewBag.Novel.Volumtitle
                            <span class="icon_select_arr3"></span>
                        </a>
                        <div class="dropdown">
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>
                        <a class="but_label_prev">이전회</a>
                        <span class="but_label_next">다음회</span>
                    </div>
                </div>
            </div>
            <div class="viewer_container dotum ">
                <h2 class="detail_view_header">@ViewBag.Novel.Volumtitle<span class="date">@(ViewBag.Novel.Opendt.Substring(0, 4)).@(ViewBag.Novel.Opendt.Substring(4, 2)).@(ViewBag.Novel.Opendt.Substring(6, 2))</span></h2>
                <div class="detail_view_content ft15"><p>@ViewBag.Novel.Noveltext</p><p class="pic last"><img src="data:image/webp;base64, @ViewBag.Novel.ThumbnailBase64" alt=""></p></div>
            </div>
            <div class="viewer_footer">
                <div class="section_grade">
                    <span class="stargrade"><span style="width:99.7%" id="currentStarScorePercent">별점</span></span>
                    <em id="currentStarScore">9.97</em>
                    <span class="num" id="currentStarScoreCount">349명</span>
                    <button class="dropdown-toggle starpoint_dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        별점주기
                    </button>
                    <ul class="dropdown-menu">
                        <li>

                        </li>
                        <li><a class="dropdown-item" id="inertStarPoint">확인</a></li>
                            
                    </ul>
                </div>
                <dl class="editor">
                    <dt>작가의 말 </dt>
                    <dd>@ViewBag.Novel.Writercomment</dd>
                </dl>
            </div>
        </div>
        <a href="#" class="but_top" id="topButton"></a>
        <!-- comments_area -->
        <div style="border: 1px solid #dadbdc; height: 1000px; margin-top:42px;">

        </div>
    </div>
</main>
@section scripts{
    <script type="text/JavaScript">
        $(function () { });
    </script>
}
