@{
    List<string> userinfo = ViewBag.userinfo == null ? new List<string>(new string[] { "0", "0", "0", "0" }) : ViewBag.userinfo;

    string searchValue = ViewBag.searchValue ?? "";
    string searchGenre = ViewBag.searchGenre ?? "all";
    int pageNum = ViewBag.searchPage ?? 1;
    int totalCount = ViewBag.TotalCount ?? 0;
    int listCount = ViewBag.ListCount ?? 1;
    int startPageNum = ViewBag.StartPageNum ?? 1;
    int endPageNum = ViewBag.EndPageNum ?? 1;

    int pageCount = totalCount % listCount > 0 ? totalCount / listCount + 1 : totalCount / listCount;
    endPageNum = endPageNum > pageCount ? pageCount : endPageNum;

}
<main>
    <script type="text/JavaScript">
        function pagingPrev(page) {
            if (page - 1 > 0) {
                $("#searchPage").val((page - 1));
                $("#novelInfo").submit();
            }
        }

        function paging(page) {
            $("#searchPage").val((page));
            $("#novelInfo").submit();
        }

        function pagingNext(page) {
            if (page + 10 > @endPageNum) {
                $("#searchPage").val((page + 10));
                $("#novelInfo").submit();
            }
        }
    </script>
    <div class="component_section">
        <div class="component_head novel_head">
            <button type="button" id="writeNewNovel" class="btn_new_write btn btn-outline-dark">신작 등록</button>
            <div class="right_area">
                <form id="NovelManageSearch" name="NovelManageSearch" method="GET" action="/Serial/NovelManage">
                    <div class="input_box">
                        <input placeholder="제목, 내용" name="searchValue" class="input_text" value="@searchValue">
                        <button type="submit" class="btn_search"><span class="blind">검색</span></button>
                    </div>
                    <select class="novel_select form-select" name="searchGenre" id="searchGenre" asp-for="searchGenre">
                        <option value="all" @(searchGenre == "all" ? "selected" : "")>전체</option>
                        @foreach (var genre in ViewBag.GenreList)
                        {
                            <option value="@genre.CODENO" @(searchGenre == genre.CODENO ? "selected" : "")>@genre.CODENAME</option>
                        }
                    </select>
                    <input type="hidden" name="searchPage" id="searchPage" value="@pageNum" />
                </form>
            </div>
        </div>
        <ul class="card_list type1">
            @foreach (var item in ViewBag.NovelList)
            {
                <li class="item">
                    <a href="/Serial/NovelInfo?novelid=@item.Novelid&topmenu=NovelManage" class="link">
                        <div class="thumbnail">
                            <img src="data:image/webp;base64, @item.ThumbnailBase64" width="299" height="192">
                        </div>
                        <div class="info_area">
                            <p class="title_group">
                                <span class="bullet_wrap "></span>
                                <span class="title" name="novelTitle">@item.Noveltitle</span>
                            </p>
                            <p class="info_group">
                                <span class="author" name="novelWriter">@item.Writer</span>
                            </p>
                            <p class="meta_data_group">
                            </p>
                        </div>
                    </a>
                </li>
            }
        </ul>
        <div class="notice_paging">
            <ul class="paging">
                @if (startPageNum == 1)
                {
                    <li class="page_arrow prev page-item">
                        <span class="blind">이전 페이지로 이동</span>
                    </li>
                }
                else
                {
                    <li class="page_arrow prev page-item">
                        <a class="page-link" role="button" href="javascript:pagingPrev(@startPageNum)">
                            <span class="blind">이전 페이지로 이동</span>
                        </a>
                    </li>
                }
                @for (int i = startPageNum; i <= endPageNum; i++)
                {
                    if (i == pageNum)
                    {
                        <li class="page-item active">
                            <span class="page-link">
                                @i
                                <span class="blind">(current)</span>
                            </span>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" role="button" href="javascript:paging(@i)">@i</a>
                        </li>
                    }
                }
                @if (endPageNum == pageCount)
                {
                    <li class="page_arrow next page-item">
                        <span class="blind">다음 페이지로 이동</span>
                    </li>
                }
                else
                {
                    <li class="page_arrow next page-item">
                        <a class="page-link" role="button" href="javascript:pagingNext(@startPageNum)">
                            <span class="blind">다음 페이지로 이동</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</main>
@section scripts{
    <script type="text/JavaScript">
        $(function () {
            if ("@userinfo[3]" != "1") {
                location.href = "/Serial/Day";
            }

            var keyword = "@searchValue";
            if (keyword.length > 0) {
                var novelTitle = $("span[name=novelTitle]");
                for (var i = 0; i < novelTitle.length; i++) {
                    var text = novelTitle[i].innerHTML;
                    text = text.replaceAll(keyword, '<font class="font_purple">' + keyword + '</font>');
                    novelTitle[i].innerHTML = text;
                }

                var novelWriter = $("span[name=novelWriter]");
                for (var i = 0; i < novelWriter.length; i++) {
                    var text = novelWriter[i].innerHTML;
                    text = text.replaceAll(keyword, '<font class="font_purple">' + keyword + '</font>');
                    novelWriter[i].innerHTML = text;
                }
            }
        });

        $("#searchGenre").change(function () {
            $("#NovelManageSearch").submit();
        });

        $("#writeNewNovel").click(function () {
            var url = "/Serial/NovelWrite?";

            if ("@pageNum" != "1") {
                url += "&searchPage=@pageNum";
            }
            if ("@searchValue" != "") {
                url += "&searchValue=@searchValue";
            }
            if ("@searchGenre" != "") {
                url += "&searchGenre=@searchGenre";
            }

            location.href = url;
        });
    </script>
}