@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HW Novel</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/user")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header class="header" role="banner">
        <div class="header_inner">
            <a href="/Home/Main" class="logo"></a>
        </div>
    </header>
    <div class="content">
        <div class="login_wrap">
            <form id="Login" name="Login" autocomplete="off" action="/Home/LoginPro" method="POST">
                <input type="hidden" name="userid" id="userid" value="">
                <input type="hidden" name="password" id="password" value="">
            </form>

            <ul class="panel_wrap">
                <li class="panel_item" style="display: block;">
                    <div class="panel_inner" role="tabpanel" aria-controls="loinid">
                        <div class="id_pw_wrap">
                            <div class="input_row" id="id_line">
                                <input type="text" id="id" name="id" placeholder="아이디" title="아이디" class="input_text" maxlength="40" value="@ViewBag.id">
                                <span role="button" class="btn_delete" id="id_clear" style="display: none;">
                                    <span class="icon_delete">
                                        <span class="blind">삭제</span>
                                    </span>
                                </span>
                            </div>
                            <div class="input_row" id="pw_line">
                                <input type="password" id="pw" name="pw" placeholder="비밀번호" title="비밀번호" class="input_text" maxlength="16">
                                <span role="button" class="btn_delete" id="pw_clear" style="display: none;">
                                    <span class="icon_delete">
                                        <span class="blind">삭제</span>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="login_error_wrap" id="err_capslock" style="display: none;">
                            <div class="error_message">
                                <strong>CapsLock</strong>이 켜져 있습니다.
                            </div>
                        </div>

                        <div class="login_error_wrap" id="err_empty_id" style="display: none;">
                            <div class="error_message">
                                <strong>아이디</strong>를 입력해 주세요.
                            </div>
                        </div>

                        <div class="login_error_wrap" id="err_empty_pw" style="display: none;">
                            <div class="error_message">
                                <strong>비밀번호</strong>를 입력해 주세요.
                            </div>
                        </div>
                        <div class="login_error_wrap" id="err_common" style="display:none;">
                            <div class="error_message" style="width:90%">

                            </div>
                        </div>
                        <div class="btn_login_wrap">
                            <button type="button" class="btn_login" id="doLogin">
                                <span class="btn_text">로그인</span>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <ul class="find_wrap" id="find_wrap">
            <li><a href="/User/FindId" class="find_text">아이디 찾기</a></li>
            <li><a href="/User/FindPw" class="find_text">비밀번호 재설정</a></li>
            <li><a href="/User/SigninAgree" class="find_text">회원가입</a></li>
        </ul>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script type="text/JavaScript">
        $("#doLogin").click(function () {
            alert("로그인");
        });
    </script>
</body>
</html>