<main>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="main_banner_new">이 달의 신작</div>
        <div class="carousel-indicators">
            @for (int i = 0; i < ViewBag.newList.Count; i++)
            {
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="@i" aria-label="Slide @i" @(i == 0 ? "class=active aria-current=true" : "")></button>
            }
        </div>
        <div class="carousel-inner">
            @for (int i = 0; i < ViewBag.newList.Count; i++)
            {
                <a href="/Serial/NovelInfo?novelid=@(ViewBag.newList[i].Novelid)">
                    <div class="carousel-item main_banner_back @(i == 0 ? "active" : "")">
                        <img src="data:image/webp;base64, @ViewBag.newList[i].ThumbnailBase64" class="d-block main_banner_img" width="210" height="300">
                        <div class="carousel-caption d-none d-md-block main_banner_info">
                            <h5>@ViewBag.newList[i].Noveltitle</h5>
                            <p>@ViewBag.newList[i].Novelinfo</p>
                        </div>
                    </div>
                </a>
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="component_section">
        <div class="component_head">
            <ul class="genre_title">
                <li class="genre_title_item">
                    <h2 class="title">로맨스</h2>
                </li>
            </ul>
            <ul class="genre_title">
                <li class="genre_title_item">
                    <h2 class="title">로판</h2>
                </li>
            </ul>
            <ul class="genre_title">
                <li class="genre_title_item">
                    <h2 class="title">판타지</h2>
                </li>
            </ul>
            <ul class="genre_title">
                <li class="genre_title_item">
                    <h2 class="title">무협</h2>
                </li>
            </ul>
            <ul class="genre_title">
                <li class="genre_title_item">
                    <h2 class="title">미스터리</h2>
                </li>
            </ul>
        </div>
        <div>
            <ul class="genre_rank">
                @{
                    int romI = 0;
                }
                @foreach (var item in ViewBag.romList)
                {
                    <li class="genre_item">
                        <a href="/Serial/NovelInfo?novelid=@(item.Novelid)">
                            <div class="genre_child_thum">
                                <img src="data:image/webp;base64, @item.ThumbnailBase64" width="80" height="80" />
                            </div>
                            <div class="info_area">
                                <p class="ranking"><em class="rank">@(++romI)</em></p>
                                <p class="title_group">
                                    @if (item.Opendt == ViewBag.nowDate)
                                    {
                                        <span class="bullet_wrap ">
                                            <span class="bullet_up">UP</span>
                                        </span>
                                    }
                                    <span class="title">@item.Noveltitle</span>
                                </p>
                                <p class="info_group">
                                    <span class="author">@item.Writer</span>
                                </p>
                            </div>
                        </a>
                    </li>
                }
            </ul>
            <ul class="genre_rank">
                @{
                    int rofI = 0;
                }
                @foreach (var item in ViewBag.rofList)
                {
                    <li class="genre_item">
                        <a href="/Serial/NovelInfo?novelid=@(item.Novelid)">
                            <div class="genre_child_thum">
                                <img src="data:image/webp;base64, @item.ThumbnailBase64" width="80" height="80" />
                            </div>
                            <div class="info_area">
                                <p class="ranking"><em class="rank">@(++rofI)</em></p>
                                <p class="title_group">
                                    @if (item.Opendt == ViewBag.nowDate)
                                    {
                                        <span class="bullet_wrap ">
                                            <span class="bullet_up">UP</span>
                                        </span>
                                    }
                                    <span class="title">@item.Noveltitle</span>
                                </p>
                                <p class="info_group">
                                    <span class="author">@item.Writer</span>
                                </p>
                            </div>
                        </a>
                    </li>
                }
            </ul>
            <ul class="genre_rank">
                @{
                    int fanI = 0;
                }
                @foreach (var item in ViewBag.fanList)
                {
                    <li class="genre_item">
                        <a href="/Serial/NovelInfo?novelid=@(item.Novelid)">
                            <div class="genre_child_thum">
                                <img src="data:image/webp;base64, @item.ThumbnailBase64" width="80" height="80" />
                            </div>
                            <div class="info_area">
                                <p class="ranking"><em class="rank">@(++fanI)</em></p>
                                <p class="title_group">
                                    @if (item.Opendt == ViewBag.nowDate)
                                    {
                                        <span class="bullet_wrap ">
                                            <span class="bullet_up">UP</span>
                                        </span>
                                    }
                                    <span class="title">@item.Noveltitle</span>
                                </p>
                                <p class="info_group">
                                    <span class="author">@item.Writer</span>
                                </p>
                            </div>
                        </a>
                    </li>
                }
            </ul>
            <ul class="genre_rank">
                @{
                    int hroI = 0;
                }
                @foreach (var item in ViewBag.hroList)
                {
                    <li class="genre_item">
                        <a href="/Serial/NovelInfo?novelid=@(item.Novelid)">
                            <div class="genre_child_thum">
                                <img src="data:image/webp;base64, @item.ThumbnailBase64" width="80" height="80" />
                            </div>
                            <div class="info_area">
                                <p class="ranking"><em class="rank">@(++hroI)</em></p>
                                <p class="title_group">
                                    @if (item.Opendt == ViewBag.nowDate)
                                    {
                                        <span class="bullet_wrap ">
                                            <span class="bullet_up">UP</span>
                                        </span>
                                    }
                                    <span class="title">@item.Noveltitle</span>
                                </p>
                                <p class="info_group">
                                    <span class="author">@item.Writer</span>
                                </p>
                            </div>
                        </a>
                    </li>
                }
            </ul>
            <ul class="genre_rank">
                @{
                    int mysI = 0;
                }
                @foreach (var item in ViewBag.mysList)
                {
                    <li class="genre_item">
                        <a href="/Serial/NovelInfo?novelid=@(item.Novelid)">
                            <div class="genre_child_thum">
                                <img src="data:image/webp;base64, @item.ThumbnailBase64" width="80" height="80" />
                            </div>
                            <div class="info_area">
                                <p class="ranking"><em class="rank">@(++mysI)</em></p>
                                <p class="title_group">
                                    @if (item.Opendt == ViewBag.nowDate)
                                    {
                                        <span class="bullet_wrap ">
                                            <span class="bullet_up">UP</span>
                                        </span>
                                    }
                                    <span class="title">@item.Noveltitle</span>
                                </p>
                                <p class="info_group">
                                    <span class="author">@item.Writer</span>
                                </p>
                            </div>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="component_section">
        <div class="component_head">
            <ul class="notice_title">
                <li>
                    <a href="/Home/Notice">
                        <h2 class="title">〉공지사항</h2>
                    </a>
                </li>
            </ul>
        </div>
        <div class="notice_content">
            <ul class="notice_table">
                @if (ViewBag.noticeList != null)
                {
                    foreach (var item in ViewBag.noticeList)
                    {
                        <li class="notice_item">
                            <a href="/Home/NoticeDetail?Noticeno=@item.NOTICENO" class="notice_name">
                                <p class="notice_item_title">
                                    <span>@item.NOTICETITLE</span>
                                </p>
                                <span class="date">@item.INSERTDT.ToString("yyyy.MM.dd")</span>
                            </a>
                        </li>
                    }
                }
                else
                {
                    <li class="notice_item">
                        <p class="notice_item_title">
                            <span>공지사항이 없습니다.</span>
                        </p>
                    </li>
                }
            </ul>
        </div>
    </div>
</main>
@section scripts{
    <script type="text/JavaScript">
    </script>
}